
.ipynb_checkpoints/app-checkpoint.py
.ipynb_checkpoints/patterns-checkpoint.ipynb
patterns.ipynb
.ipynb_checkpoints/svgpngconvert_exp-checkpoint.ipynb
svgpngconvert_exp.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
convertapi_experiment.ipynb
.ipynb_checkpoints/convertapi_experiment-checkpoint.ipynb
